.cabecalho{
    align-items: center;
    background-color: #F9F9F9F9;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.menu-lista{
    display: flex;
}

.menu-item{
    list-style: none;
}

.menu-item:last-child .menu-link{
    margin-right: 0;
}

.menu-link{
    color: #808080;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}

.menu-link.ativo {
    color: #333333;
    font-weight: bold;
}

.menu-link:hover{
    text-decoration: underline;
}

.banner{
    position: relative;
}

.banner-imagem{
    background: url(banner.jpg) no-repeat center/cover;
    width: 100%;
    height: calc(100vh - 72px);
}

.banner-titulo{
    color: #fdfdfd;
    font-family: Pacifico, cursive;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0,0,0,0.75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

.sobre{
    padding: 2.5rem;
    text-align: center;
}

.sobre-titulo{
    color: #8d0606;
    font-family: Pacifico, cursive;
    font-size: 3.1875rem;
}

.sobre-descricao{
    color: #595959;
    font-size: 1.75rem;
    font-weight: 100;
}

.receitas{
    background-color: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 0 5rem;
}

.receita{
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
    width: calc(25% - 5rem);
}

.receita-imagem{
    height: 200px;
}

.receita-titulo{
    font-size: 1.4375rem;
}

.receita-descricao{
    font-size: 1.18rem;
    line-height: 1.5;
    text-align: justify;
}

.receita-conteudo{
    padding: 1rem;
}

.receita-botao{
    background-color: #8d0606;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
}

.receita-botao:hover{
    background: #620404;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.quem-somos{
    text-align: center;
    padding: 5rem;
}

.quem-somos-titulo{
    color: #8d0606;
    font-size: 3.1875rem;
    margin-bottom: 1rem;
    font-family: Pacifico, cursive;
}

.quem-somos-descricao{
    font-weight: 100;
    font-size: 1.75rem;
    color: #595959;
}

.pessoas{
    display: flex;
    padding-top: 3rem;
    justify-content: space-around;
}

.pessoa{
    display: flex;
    flex-direction: column;
}

.pessoa-nome{
    margin: 1rem 0;
    font-family: Pacifico, cursive;
    color: #8d0606;
    font-size: 2rem;
}

.pessoa-funcao{
    text-transform: lowercase;
    color: #595959;
    font-size: 1.25rem;
}

.pessoa-imagem{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pessoa-imagem--roberta{
    background-image: url(roberta.jpg);
}

.pessoa-imagem--marcela{
    background-image: url(marcela.jpg);
}

.pessoa-imagem--andreia{
    background-image: url(andreia.jpg);
}

.rodape{
    background: #bfbfbf;
    color: #fdfdfd;
    text-align: right;
    padding: 1.5625rem 5rem;
    text-transform: lowercase;
}

@media screen and (min-width: 0){
    .cabecalho{
        justify-content: center;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 768px){
    .cabecalho{
        justify-content: space-between;
        padding: 0 5rem;
    }
}

@media screen and (min-width: 0){
   .logo {
    display: none;
   }
}

@media screen and (min-width: 768px){
    .logo{
        display: block;
    }
}

@media screen and (min-width: 0){
    .banner-titulo{
        font-size: 3rem;
    }
}

@media screen and (min-width: 768px){
    .banner-titulo{
        font-size: 5.8625rem;;
    }
}

@media screen and (min-width: 992px){
    .banner-imagem{
        height: calc(100vh - 51px);
    }
}

@media screen and (min-width: 0){
    .sobre{
        padding: 2.5rem 1rem;
    }
}

@media screen and (min-width: 768px){
    .sobre{
        padding: 2.5rem;
    }
}

@media screen and (min-width: 0){
   .sobre-titulo{
     font-size: 2rem;
   }
}

@media screen and (min-width:768px){
   .sobre-titulo{
    font-size: 3.1875rem;
   }
}

@media screen and (min-width: 0){
    .sobre-descricao{
      font-size: 1.3rem;
    }
 }
 
 @media screen and (min-width:768px){
    .sobre-descricao{
     font-size: 1.75rem;
    }
 }

 @media screen and (min-width: 0){
    .receita{
        margin-right: 1rem;
        width: 100%;
    }
 }

 @media screen and (min-width: 768px){
    .receita{
        margin-right: 2.5rem;
        width: calc(33.33% - 2.5rem);
      }
 }

 @media screen and (min-width: 992px){
    .receita{
        margin-right: 5rem;
        width: calc(25% - 5rem);
     }
 }
 
 @media screen and (min-width: 0){
    .receitas{
        padding: 5rem 0 0 1rem;
    }
 }

 @media screen and (min-width: 768px){
    .receitas{
        padding: 5rem 0 0 2.5rem;
      }
 }

 @media screen and (min-width: 992px){
    .receitas{
        padding: 5rem 0 0 5rem;
     }
 }

 @media screen and (min-width: 0){
    .pessoas{
        flex-direction: column;
      }
 }

 @media screen and (min-width: 768px){
     .pessoas{
        flex-direction: row;
     }
 }

 @media screen and (min-width: 0){
    .pessoa{
        margin-bottom: 2rem;
    }
 }

 @media screen and (min-width: 768px){
    .pessoa{
        margin-bottom: 0;
    }
 }

